<section class="container">
<div class= "calendar">
  <div class="month-1">
    <br/>
    {{!-- <p class="month secondary">September</p> --}}
    <div id="calendar">
      <h3 class="primary">Next 4 weeks</h3>
      <table class="cal-table">
        <tr>
          <th class="day-of-week">Mon</th>
          <th class="day-of-week">Tues</th>
          <th class="day-of-week">Wed</th>
          <th class="day-of-week">Thu</th>
          <th class="day-of-week">Fri</th>
          <th class="day-of-week">Sat</th>
          <th class="day-of-week">Sun</th>
          
        </tr>
        <tr class="cal-blocks">

        </tr>
      </table>
    </div>

</div>
</section>


<script src="/assets/js/calendar.js"></script>
