<div class= "calendar">
  <div class="month-1">
    <p class="month secondary">September</p>
    <div id="calendar"></div>
{{!-- <ul>
<li class="sales">9.10-14</li>
<li class="devs">9.22-24</li>
</ul> --}}
</div>