<section class="container post-group">
      <div class="post">
        <figure>
          <img
            class="post-image"
            src="./assets/img/h-w-LXf2CvRduGw-unsplash.jpg"
            alt="image"
          />
        </figure>
        <div class="content">
          <p class="location">Whistler Mountain, Canada</p>
          <p class="description">
            Amazing place to have fun in the snow and take in those breathtaking
            views of snow covered peaks.
          </p>
          <p class="author">
            <span class="name">Emily R.</span> &nbsp/&nbsp
            <span class="department">Sales</span> &nbsp/&nbsp
            <span class="date">12/2019</span>
          </p>
        </div>
      </div>
      <div class="post">
        <figure>
          <img
            class="post-image"
            src="./assets/img/h-w-LXf2CvRduGw-unsplash.jpg"
            alt="image"
          />
        </figure>
        <div class="content">
          <p class="location">Whistler Mountain, Canada</p>
          <p class="description">
            Amazing place to have fun in the snow and take in those breathtaking
            views of snow covered peaks.
          </p>
          <p class="author">
            <span class="name">Emily R.</span> &nbsp/&nbsp
            <span class="department">Sales</span> &nbsp/&nbsp
            <span class="date">12/2019</span>
          </p>
        </div>
      </div>
</section>