<div class="nav">
  <p><a href="/" class="nav-item secondary">Home</a></p>
  <p class="secondary">|</p>
  <p><a href="/employee-access" class="nav-item secondary">Employee Dashboard</a></p>
  <p class="secondary">|</p>
  <p><a id="manager-btn" href="/manager-access" class="nav-item secondary">Manager Dashboard</a></p>
  <p class="secondary">|</p>
  <p><a href="https://github.com/MVC-5" target="_blank" class="nav-item secondary">Help</a></p>
</div>
