<div class="nav">
<p><a id="manager-btn" href="/manager-access" class="nav-item primary">Manager Dashboard</a></p>
<p class="primary">|</p>
  <p><a href="#" class="nav-item primary">Help</a></p>
</div>

