
{{> nav}}
<div class="container">
  <div class="hero">
    <h3 id="tagline1">----<span id="color-switch">Submit your</span>---</h3>
    <a href="/employee-access" class="btn btn-large">BREAK<span id="color-switch">AWAY</span></a>
    <h3 id="tagline2">from the everyday</h3>
  </div>

</div>
{{!-- <div id="login" class="modal">
  <form id="modal-form" action="destination.html">
  <input id="employeeId" type="text" type="number" required>
  <button class="btn" type="submit" value="Go">Go</button>
</form>
  
  <a href="#" rel="modal:close">Close</a>
</div> --}}


{{> feed}}

  <script src="/assets/js/main.js"></script>
