<form action="/api/upload" method="post" enctype="multipart/form-data">
  <label for="description">Describe this picture</label>
  <input type="text" name="description" id="description" required>
  <input type="file" name="image" id="image" accept="image/*" required />
  <div>
    <button>Submit!</button>
  </div>
</form>