
{{> nav}}
<div class="container">
  <div class="hero">
    <h3>Submit your</h3>
    <a href="#login" rel="modal:open" class="btn btn-large open-modal">BREAKAWAY</a>
    <h3>from the everyday</h3>
  </div>

</div>
<div id="login" class="modal">
  <form id="modal-form" action="destination.html">
  <input id="employeeId" type="text" type="number" required>
  <button class="btn" type="submit" value="Go">Go</button>
</form>
  
  <a href="#" rel="modal:close">Close</a>
</div>


{{> feed}}

  <script src="/assets/js/main.js"></script>
