
{{> nav}}
<div class="container">
  <div class="hero">
    <h3 id="tagline1">Submit your</h3>
    <a href="/employee-access" class="btn btn-large">BREAK<span id="color-switch">AWAY</span></a>
    <h3 id="tagline2">from the everyday</h3>
  </div>
  
  <div class="share">
  <h4><a href="#new-post" rel="modal:open" class="share-link">Share Your Breakaway</a></h4>
  </div>

</div>


{{> feed}}

  <script src="/assets/js/main.js"></script>
