{{> nav}}
<section class="container">
<div class="login">
{{#if manager}}
{{!-- show manager login --}}

<h3 class="primary text-center login-heading">Manager Dashboard Login</h3>
<div class="login-box ">
  <form action="/manager-login" method="get">
    <label class="login-label" for="managerId">What is your employee ID? </label>
    <input type="number" class="field" name="managerId" id="managerId" required>
    <label class="login-label" for="password">What is your password? </label>
    <input type="password" class="field" name="managerPassword" placeholder="proceed without password" disabled>
    <button type="submit" class="btn login-btn">View profile</button>
  </form>
</div>



{{else}}
{{!-- show employee login --}}
<h3 class="primary text-center login-heading">Employee Request Login</h3>
<div class="login-box ">
  <form action="/employee-login" method="get">
    <label class="login-label" for="managerId">What is your employee ID? </label>
    <input type="number" class="field" name="employeeId" id="employeeId" required>
    <label class="login-label" for="password">What is your password? </label>
    <input type="password" class="field" name="employeePassword" placeholder="proceed without password" disabled>
    <button type="submit" class="btn login-btn">View dashboard</button>
  </form>
</div>
{{/if}}
{{#if msg}}
  <h4 class="no-result text-center">*{{msg}}</h4>
{{/if}}
</div>

</section>
<script src="/assets/js/login.js"></script>