<div class="container">
  <div class="request-header">
  <div>
  {{> nav}}
  </div>
    <h3>Manager Dashboard</h3>
  </div>

  <p class="request-p secondary">Your Team's Requests: </p>
  <br/>
  <div>
  <p class="requester">Emily R.<p>
    <section class="view-table">
      <table class="t-request">
        <tr class="t-row">
          <td class="t-days">Days: <span class="days-requested">3</span></td>
          <td class="t-date">From: <span class="date-start">11.15.2020</span></td>
          <td class="t-date">To: <span class="date-end">11.17.2020</span></td>
        </tr>
        <tr class="t-row">
          <td colspan= "2" class="requested-on">Requested on: <span class="request-date">09.15.2020</span></td>
          <td class="t-status t-pending">PENDING</td>
        </tr>
      </table>
    </section>
    <section class="button-group">
      <a href="#" class="btn btn-approve">Approve</a>
      <a href="#" class="btn btn-deny">Deny</a>
    </section>
    <br/>
    <hr class="request-hr">
    <br/>
  </div>

  <div>
  <p class="requester">Steve J.</p>
    <section class="view-table">      
      <table class="t-request">
        <tr class="t-row">
          <td class="t-days">Days: <span class="days-requested">3</span></td>
          <td class="t-date">From: <span class="date-start">11.15.2020</span></td>
          <td class="t-date">To: <span class="date-end">11.17.2020</span></td>
        </tr>
        <tr class="t-row">
          <td colspan= "2" class="requested-on">Requested on: <span class="request-date">09.15.2020</span></td>
          <td class="t-status t-pending">PENDING</td>
        </tr>
      </table>
    </section>
    <section class="button-group">
      <a href="#" class="btn btn-approve">Approve</a>
      <a href="#" class="btn btn-deny">Deny</a>
    </section>
    <br/>
    <hr class="request-hr">
    <br/>
  </div>

  <br/>
  <p class="request-p primary">Current Vacation Schedule: </p>
  <br/>
  {{> calendar}}

</div>