<div class="container">
      <h3 class="request-header primary">Welcome, <span class="employee">Name</span></h3>
<p class="request-p">Choose your dates:</p>
  <form action="" class="request-form">
    <div class="form-group">
      <input type="text" class="field r-start" placeholder="From" required />
      <input type="text" class="field r-end" placeholder="To" required />
    </div>
    <input type="text" class="field r-reason" placeholder="How are you going to breakaway?" />
    <div class="form-group">
      <button class="btn request-btn" type="button">Request</button>
    </div>
  </form>
<br>

<p class="request-p">Your upcoming requests: </p>
  <section class="view-table">
    <table class="t-request">
      <tr class="t-row upcoming-1">
        <td class="t-days">Days requested <span class="days-requested">4</span></td>
        <td class="t-date">From <span class="date-start">10.10.2020</span></td>
        <td class="t-status t-approved">Approved</td>
      </tr>
      <tr class="t-row upcoming-2">
        <td class="t-days">Days remaining <span class="days-remaining">4</span></td>
        <td class="t-date">From <span class="date-end">10.14.2020</span></td>
        <td class="t-status t-approved"></td>
      </tr>
    </table>
  </section>

  <p class="request-p primary">Your remaining days: <span class="bank">10</span></p>
<hr class="request-hr">
</div>
