*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Main site styles */
:root {
  --primary-color: #0C084C;
  --dark-primary-color: #09063A;
  --secondary-color: #00B7A8;
  --light-primary-color: #fff;
  --accent-color: #F0A500;
  --alert-color: #821752;
  --p-variant-color: #DFF0EF;
  --background: #fff;
  --default-text: #787878;
  --text-placeholder: #ABABAB;

  --default-border-radius: 15px;
  --top-border-radius: 10px 10px 0 0;
  --btm-border-radius: 0 0 10px 10px;
  --button-border-radius: 10px;
}

h1 {
  font-family: "comfortaa";
  font-weight: 600;
  font-size: xx-large;
  color: var(--dark-primary-color);
}

h2 {
  font-family: "roboto";
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-family: "comfortaa";
  font-weight: 300;
  font-size: 1.5rem;
}

h4 {
  font-family: "comfortaa";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 40px;
}

p,
td,
th,
label {
  font-family: "roboto";
  font-weight: 300;
  font-size: 15px;
}

a {
  font-family: "roboto";
  font-weight: 300;
  font-size: 15px;
  color: var(--default-text);
}

body {
  background-color: var(--background);
  color: var(--default-text);
}

h1,
p {
  margin: 0 0 1em 0;
}

.text-center {
  text-align: center;
}

.primary {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.container {
  min-width: 400px;
}

/* Button styles */

.button-group {
  display: flex;
  margin: 10px auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 10px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: var(--button-border-radius);

  /* size comes from text & padding (no width/height) unless specified */
  padding: 0.5em 1em;
  color: var(--light-primary-color);
  background-color: var(--primary-color);
  box-shadow: 2px 2px 8px 1px #ABABAB;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  filter: brightness(115%);
  color: var(--light-primary-color);
}

.btn-large {
  font-size: 1.70rem;
  font-weight: 600;
  font-family: "comfortaa";
  line-height: 3.2rem;
  letter-spacing: 0.2em;
}

.btn-approve {
  min-width: 137px;
  background-color: var(--secondary-color);
  letter-spacing: 0.2em;
}

.btn-deny {
  min-width: 137px;
  background-color: var(--alert-color);
  letter-spacing: 0.2em;
}

/* Post styles */
.post-group {
  max-width: 1000px;
  min-width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: var(--default-border-radius);
}

.post {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 40px 30px;
}

.post-image {
  width: 350px;
  height: 350px;
  border-radius: var(--default-border-radius);
  object-fit: cover;
  box-shadow: 0 0 8px 1px rgb(214, 210, 214);
}

.content {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.location {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.description {
  font-family: "roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
}

.author {
  font-family: "roboto";
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: flex-start;
}

/* Form styles */

.request-form {
  display: block;
  text-align: center;
  width: 350px;
  margin: 0.5rem auto 4rem;
}

.form-group {
  width: 100%;
  margin: 15px auto;
}

.flatpickr-calendar {
  font-family: "comfortaa";
}

.field {
  width: 44%;
  font-size: 1rem;
  border-radius: var(--button-border-radius);
  padding: 12px;
  margin: 0 2px;
  border-color: var(--primary-color);
  font-family: "roboto";
  font-weight: 300;
}

.field:disabled {
  background-color: var(--p-variant-color);
  filter: opacity(0.4);
}

.field:focus {
  outline: none;
  background-color: var(--p-variant-color);
}

.r-reason {
  width: 90%;
}

.request-btn {
  padding: 12px 36px;
  letter-spacing: 0.2em;
}

/* request view table styles */

.view-table {
  margin: 0 auto 25px;
  width: 350px;
}

.t-request {
  text-align: center;
  padding: 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--default-border-radius);
}

/* top-left border-radius */
.t-request tr:first-child td:first-child {
  border-top-left-radius: var(--default-border-radius);
}

/* top-right border-radius */
.t-request tr:first-child td:last-child {
  border-top-right-radius: var(--default-border-radius);
}

/* bottom-left border-radius */
.t-request tr:last-child td:first-child {
  border-bottom-left-radius: var(--default-border-radius);
}

/* bottom-right border-radius */
.t-request tr:last-child td:last-child {
  border-bottom-right-radius: var(--default-border-radius);
}

table,
td {
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid var(--primary-color);
  padding: 12px;
}
td {
  white-space: nowrap;
}
td.t-approved {
  background-color: var(--secondary-color);
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

td.t-pending {
  background-color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

td.t-denied {
  background-color: var(--alert-color);
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.t-status {
  text-transform: capitalize;
}

/* end default styles */

/* main page */

.hero {
  width: 920px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 20vh auto;
}

.hero > * {
  margin: 5px 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* nav partial */
.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 50px;
  height: 75px;
  padding: 35px 25px 0 0;
  align-items: center;
}

.nav-item {
  font-weight: 500;
  padding: 10px;
  margin: 0;
  text-decoration: none;
}

.nav-item:hover {
  filter: brightness(120%);
}

#tagline1, #tagline2 {
  font-family: "comfortaa";
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--secondary-color);
  letter-spacing: 0.1em;
  line-height: 2.1em;
  max-width: 400px;
}

#tagline1 {
  color: var(--secondary-color);
  padding-right: 3rem;
  padding-left: 3rem;
}

#color-switch {
  color: var(--secondary-color);
}

/* request page */

.request-header {
  text-align: center;
  margin: 0 auto 2rem;
  height: 10rem;
  border-radius: 0 0 15px 15px;
  color: var(--light-primary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 6px 6px 0px #ABABAB
}

.request-p, .requester {
  text-align: left;
  width: 350px;
  margin: 0 auto 10px;
  font-family: "Comfortaa";
  font-weight: 500;
}

.bank {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.request-hr {
  width: 350px;
  margin: 2px auto 1rem;
}

/* calendar partial */
.calendar {
  width: 360px;
  margin: 0 auto 50px;
}

.month {
  font-weight: 500;
  font-family: "comfortaa";
  font-size: 1rem;
}

.wider-view {
  max-width: 840px;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.manager-table {
  margin: 15px;
}
/* current vacations calendar */
.days {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

/* LOGIN PAGE */
.login {
  margin: 90px 0 5%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-heading {
  margin-bottom: 2.5rem;
}
.login-box {
  margin: 0 auto;
  text-align: center;
  padding: 25px 45px;
  height: 240px;
  width: 315px;
  background-color: var(--primary-color);
  border-radius: var(--default-border-radius);
}

.login-box .field {
  width: 100%;
  margin: 8px auto 15px;
  display: inline-block;
}

.login-label {
  color: var(--p-variant-color);
}

.login-btn {
  font-size: 0.8rem;
  color: var(--light-primary-color);
  background-color: var(--secondary-color);
  box-shadow: none;
}

.no-result {
  color: var(--alert-color);
}

/* calendar border fix */
td.cal-day {
  border-radius: 0;
}

.modal {
  text-align: center;
  padding: 25px 45px;
  height: 400px;
  width: 350px;
  background-color: var(--primary-color);
  border-radius: var(--default-border-radius);
}

.modal .field {
  width: 100%;
  margin: 8px auto 15px;
  display: inline-block;
}

.modal-btn {
  font-size: 0.8rem;
  color: var(--light-primary-color);
  background-color: var(--secondary-color);
  box-shadow: none;
}

.choose-file {
  width: 100%;
  margin: 8px auto 15px;
  display: inline-block;
  color: var(--light-primary-color);
}

.share {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.share-link {
  font-family: "comfortaa";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 40px;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

/* media queries */
@media only screen and (max-device-width: 920px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    width: 330px;
  }
}
